/* login.css */

body {
  background-color: #eaf9e8; /* 연한 초록색 배경 */
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  text-align: left; /* 왼쪽 정렬 추가 */
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.password-input-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 35%;
  right: 10px; /* 조정 가능한 값으로 설정 */
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input {
  font-family: 'Arial', sans-serif;
  letter-spacing: 4px;
}

.login-button {
  background-color: #4caf50; /* 초록색 */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 16px;
}

.login-button:hover {
  background-color: #45a049; /* 진한 초록색 */
}

.social-buttons {
  margin-top: 16px;
}

.social-button-google,
.social-button-facebook {
  background-color: #4caf50; /* 초록색 */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

.social-button-google:hover,
.social-button-facebook:hover {
  background-color: #45a049; /* 진한 초록색 */
}

.signup-text {
  margin-top: 16px;
  color: #333;
}

.signup-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
