/* mypage.css (수정된 부분) */

.my-page-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    height: 100%; /* 높이를 100%로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 요소들을 수직으로 균등하게 배치 */
  }
  
  .my-page-container h2 {
    color: #4caf50; /* 초록색으로 변경 */
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .my-page-container p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
  }
  
  .my-page-container button {
    padding: 14px 24px;
    margin: 10px;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
  }
  
  .my-page-container button:hover {
    background: #45a049;
  }