/* Restaurant.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.Restaurant {
  max-width: 800px;
  margin: 20px auto 0;
  padding: 30px;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.Restaurant h2 {
  color: #4CAF50;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.Restaurant div > div {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Restaurant ul {
  list-style-type: none;
  padding: 0;
}

.Restaurant li {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Restaurant li:hover {
  background-color: #4CAF50;
}

.restaurant-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurant-modal h2 {
  margin-bottom: 10px;
}

.restaurant-modal p {
  margin-bottom: 10px;
}

.restaurant-modal label,
.restaurant-modal input {
  margin-bottom: 16px;
}

.restaurant-modal input {
  flex-grow: 1;
}

.restaurant-modal button {
  flex-shrink: 0;
  margin-top: 10px;
}

.Restaurant h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Restaurant .menu-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start; /* 왼쪽으로 정렬 */
}

.Restaurant .menu-buttons button {
  width: 100px;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.Restaurant .menu-buttons button.active {
  background-color: #fff;
  color: #4CAF50;
}

.Restaurant .menu-buttons button:hover {
  background-color: #fff;
  color: #4CAF50;
}


.Restaurant > div > div {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Restaurant > div > div > span {
  color: #f7faf7;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.Restaurant > div > div > span:hover {
  color: #f6f8f6;
}

.Restaurant > div > div > button {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Restaurant > div > div > button.active {
  background-color: #fff;
  color: #4CAF50;
}

.Restaurant > div > div > button:hover {
  background-color: #fff;
  color: #4CAF50;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #eee;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li:hover {
  background-color: #4CAF50;
  color: #fff;
}

.pagination .page-link {
  text-decoration: none;
  color: #333;
}

.pagination .active {
  background-color: #4CAF50;
  color: #fff;
}

.menu-buttons {
  display: flex;
  gap: 10px;
}

.menu-buttons button {
  width: 100px;
}
