/* StoreInfoEdit.css */

/* 스토어 정보 수정 컴포넌트 스타일 */
.storeinfoedit-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%; /* 전체 가로폭을 설정 */
}

.storeinfoedit-container h1 {
  margin-bottom: 20px;
  color: rgb(253, 255, 253);
  text-align: left;
  max-width: 100%;
}

.storeinfoedit-container form {
  display: grid;
  gap: 20px;
}

.storeinfoedit-container h2 {
  margin-bottom: 20px;
  color: rgb(10, 171, 10);
  text-align: left;
  max-width: 100%;
}

.tab-navigation {
  margin-top: 20px; /* 가게 정보와 메뉴 관리 버튼 간격 조절 */
  text-align: left; /* 왼쪽 정렬 추가 */
}

.tab-navigation button {
  margin-right: 20px; /* 버튼 간격을 조절할 수 있는 마진 추가 */
  background: none; /* 초록색 배경 제거 */
  color: black; /* 글씨 색상 변경 */
  border: none;
  border-bottom: 2px solid transparent; /* 기본 구분선을 투명하게 설정 */
  cursor: pointer;
  transition: border-bottom 0.3s ease; /* 구분선 변경 애니메이션 추가 */
  font-size: 18px;
  font-weight: bold;
}

.tab-navigation button:hover {
  /* 호버 시 구분선 색상 변경 */
  border-bottom: 2px solid #a1f8a3;
}

.tab-navigation button + button {
  margin-left: 20px; /* 버튼 간격을 조절할 수 있는 마진 추가 */
}

/* 주문 목록 스타일 */
.order-list {
  display: grid;
  gap: 20px;
}

.order-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-item span {
  margin-right: 10px;
}

.order-item span.price {
  margin-right: 5px;
}

.order-item span.status {
  font-weight: bold;
}

.order-item button {
  background-color: #218c53;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-item button:hover {
  background-color: #04751a;
}

/* 메뉴 추가 버튼 스타일 */
.add-menu-link {
  margin-top: 20px;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.add-menu-link button {
  background-color: #218c53;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-menu-link button:hover {
  background-color: #04751a;
}

/* 모달 관련 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal form {
  display: grid;
  gap: 20px;
}

.modal button {
  margin-top: 10px;
}

.close-button {
  background-color: #e74c3c;
}


.tab-navigation button.active {
  border-bottom: 2px solid #a1f8a3;
}

