/* StoreInfoEdit.css */

.storeinfoedit-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 70%;
  /* 변경된 부분: 배경색 삭제 */
}

.storeinfoedit-container h1 {
  margin-bottom: 20px;
  color: rgb(253, 255, 253);
  text-align: center; /* 변경된 부분: 가운데 정렬 추가 */
  max-width: 100%;
}

.storeinfoedit-container form {
  display: grid;
  gap: 20px;
}

.storeinfoedit-container label {
  font-weight: bold;
}

.storeinfoedit-container input {
  max-width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.storeinfoedit-container button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px;
  
}

.storeinfoedit-container button:hover {
  background-color: #218c53;
}
