/* Wishlist.css */

.wishlist-container {
  max-width: 1000px;
  margin: 20px auto 0; /* 여기서 상단 여백을 추가합니다. */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.restaurant-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.restaurant-name {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}


.order-link {
  color: #fff;
  background-color: #59addf;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold; /* 텍스트 굵게 */
  display: inline-block;
}

.order-link:hover {
  background-color: #59addf;
  transform: scale(1.05); /* 호버 시 약간 확대되도록 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
